@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    background: #e3f2fd;
}
body, .video-timer, .video-controls, .options{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    position: relative;
    max-width: 900px;
    width: 98%;
    background: #000;
    border-radius: 5px;
    overflow: hidden;
    user-select: none;
}
.container.fullscreen{
    max-width: 100%;
    width: 100%;
}
.wrapper{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition:all 0.2s ease;
}
.container.show-controls .wrapper{
    bottom: 0;
    opacity: 1;
    pointer-events: auto;
}
.wrapper::before{
    content: "";
    bottom: 0;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: calc(100% + 35px);
    background: linear-gradient(to top,rgba(0,0,0,0.7), transparent);
}
.video-timeline{
    height: 7px;
    width: 100%;
    cursor: pointer;
}
.video-timeline .progress-area{
    position: relative;
    height: 3px;
    background: rgba(255,255,255,0.6);
}
.progress-area span{
    position: absolute;
    color: #fff;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 13px;
}
.progress-area .progress-bar{
    position: relative;
    width: 0%;
    height: 100%;
    background: #2289ff;
}
.progress-area .progress-bar::before{
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background: inherit;
}
.progress-area span, .progress-area .progress-bar::before{
    display: none;
}
.video-timeline:hover .progress-area span,.video-timeline:hover  .progress-area .progress-bar::before{
    display: block;
}
.video-controls{
    padding: 5px 20px 10px;
    
}
.video-controls .options{
    width: 100%;
    
}
.video-controls .options:first-child{
    justify-content: flex-start;
}
.video-controls .options:last-child{
    justify-content: flex-end;
}
.options button{
    width: 40px;
    height: 40px;
    border: none;
    color: #fff;
    background: none;
    font-size: 19px;
    cursor: pointer;
}
.options button :where(i,span){
    width: 100%;
    height: 100%;
    line-height: 40px;
}
.options input{
    height: 4px;
    max-width: 75px;
}
.options .video-timer{
    font-size: 14px;
    color: #efefef;
    margin-left: 15px;
}
.video-timer .seperator{
    font-size: 16px;
    margin: 0 5px;
}
.playback-content{
    position: relative;
}
.playback-content .speed-options{
    position: absolute;
    bottom: 40px;
    left: -40px;
    width: 95px;
    background: #fff;
    list-style: none;
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}
.playback-content .speed-options.showOptions{
    opacity: 1;
    pointer-events: auto;
}
.speed-options li{
    font-size: 14px;
    padding: 5px 0 5px 15px;
    cursor: pointer;
}
.speed-options li.active{
    background: #2289ff;
    color: #fff;
}
.container video{
    width: 100%;
}